{
  "NIX_APP_ID": "<YOUR_APP_ID>",
  "NIX_APP_KEY": "<YOUR_API_KEY>",
  "NIX_API_CODE": "<SECRET_CODE>",
  "NIX_API_VERSION": "v2",
  "NIX_API_BASE_URL": "https://trackapi.nutritionix.com",
  "AWS_S3_ACCESS_KEY_ID": "<YOUR_AWS_S3_ACCESS_KEY_ID>",
	"AWS_S3_SECRET_ACCESS_KEY": "<YOUR_AWS_S3_SECRET_ACCESS_KEY>",
  "AWS_S3_BUCKET": "ses-msgs",
  "AWS_S3_BUCKET_FOLDER": "msgs",
  "AWS_SES_ACCESS_KEY_ID": "<YOUR_AWS_SES_ACCESS_KEY_ID>",
	"AWS_SES_SECRET_ACCESS_KEY": "<YOUR_AWS_SES_SECRET_ACCESS_KEY>",
  "EMAIL_FROM": "trackbot@nutritionix.com",
  "EMAIL_FROM_NAME": "Nutritionix Track App"
}
